DISCORD_API_KEY="Your Discord Bot API Key"
DISCORD_GUILD="Your Guild ID"
GEMINI_API_KEY="Your Gemini API Key"  # [OPTIONAL] If not provided, the bot will not load chatbot
LAVALINK_HOST="Your Lavalink Host"  # [OPTIONAL] If not provided, the bot will not load music
LAVALINK_PORT="Your Lavalink Port"  # [OPTIONAL] If not provided, the bot will not load music
LAVALINK_PASSWORD="Your Lavalink Password"
GUILD_CHAT_ID="Your Guild Chat ID for Chatbot"
GEMINI_GLOBAL_INSTRUCTION="Instruction for Gemini Chatbot"