DISCORD_API_KEY="Your Discord Bot API Key"
ENABLE_GLOBAL="False"               # True/False -- Default:False
DISCORD_GUILD="Your Guild ID"       # Must be filled when ENABLE_GLOBAL is False
LAVALINK_HOST="Your Lavalink Host"
LAVALINK_PORT="Your Lavalink Port"
LAVALINK_PASSWORD="Your Lavalink Password"